[submodule "third_party/lsplt"]
	path = third_party/lsplt
	url = https://github.com/JingMatrix/LSPlt
[submodule "third_party/keymint"]
	path = third_party/keymint
	url = https://android.googlesource.com/platform/system/keymint
[submodule "third_party/interfaces"]
	path = third_party/interfaces
	url = https://android.googlesource.com/platform/hardware/interfaces
[submodule "third_party/frameworks-native"]
	path = third_party/frameworks-native
	url = https://android.googlesource.com/platform/frameworks/native
